<footer class="sticky-bottom mt-5" role="contentinfo">
  {% if site.newsletter.enabled %}
    {% include scripts/newsletter.liquid %}
  {% endif %}

  <div class="container">
    &copy; {{ site.time | date: '%Y' }}
    {{ site.first_name }}
    {{ site.last_name }}.
  </div>
</footer>
